.main-content {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 90vh;
}

.main-content hr {
  width: 60%;
  height: 0.5px;
  margin: 20px 0;
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 200;
}

footer {
  align-items: center;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  height: 10vh;
  position: fixed;
  width: 100%;
}
