@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@500;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(45deg, rgb(4, 4, 4) 40%, rgb(38, 19, 57));
}
